* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    --twitter-color: #ff0099bd;
    --twitter-background: #e6ecf0;
    

}

.sidebar h1 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--twitter-color);
}

.sidebar img {
    display: flex;
    width: 200;
    height: 200px;
   
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption .material-symbols-outlined, .fa-twitter {
    padding: 30px;

}


.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption.active {
    color: var(--twitter-color);
}

.sidebar__Chisme {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}

body {
   display: flex;
   height: 100vh;
   max-width: 1300px;
   margin-left: auto;
   margin-right: auto;
   padding:0 10px;
}

.sidebar {
    border-right: 1px solid var(--twitter-color);
    flex: 0.2;
    min-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}

.fa-twitter {
    color: var(--twitter-color);
    font-size: 50px;

}

/* feed */
.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.feed__header h2 {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* chisme box */ 

.chismebox__input img {
    border-radius: 50%;
    height: 40px;
}

.chismebox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.chismebox form {
    display: flex;
    flex-direction: column;
}

.chismebox__input {
    display: flex;
    padding: 20px;
}

.chismebox__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.chismebox__chismeButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
}

/* post */
.post__avatar img {
    border-radius: 50%;
    height: 40px;
}
.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-color);
    padding-bottom: 10px;
}
.post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
}

.post__badge {
    font-size: 20px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}
.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 20px;
}

.widgets {
    flex: 0.3;
}

.widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets__input input {
    border: none;
    background-color: var(--twitter-background);
    outline: none;
}

.widgets__searchIcon {
    color: gray;
}

.widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: var(--twitter-background);
    border-radius: 20px;
}

.widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.follow {
    top: 8rem; 
    left: 60%; 
    width: 35rem; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: var(--twitter-background); 
    border-radius: 40px;
    margin-top: px;    
}

.follow-heading {
    padding: 1.5rem;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid var(--twitter-background);
}

.follow-user {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 0.1rem solid var(--twitter-color);
}

.follow-user-img {
    width: 6rem;
    height: 6rem;
    margin-right: 3rem;
}

.follow-user-img img {
    width: 100%;
    height: 100%;
}

.follow-user-info h4 .follow-user-info p {
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
}

.follow-btn {
    margin-left: auto;
    width: 9rem;
    background-color: white;
    color: black;
    padding: 0.7rem 0.5rem;
    border: 0.1rem solid var(--twitter-color);
    border-radius: 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.follow-btn:hover {
    background-color: var(--twitter-color);
}

.user {
    top: 8rem;
    left: 57%;
    width: 35rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user-heading {
    padding: 1rem;
    font-size: 1.8rem;
}

.user-pro {
    display: flex;
    align-items: center;
    padding: 1.5rem;  
}

.user-pro-img {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
}

.user-pro-img img {
    width: 100%;
    height: 100%;
}

.user-pro-info h6 .user-pro-info p {
    font-size: 15rem;
    margin-bottom: 10rem;
}